$cloud: #f5f7fa;
$dark-cloud: #e6e9ed;

$dark-gray: #434a54;

$blue: #3bafda;

$monokai-background: #26292c;
$monokai-foreground: #f8f8f2;
$monokai-cyan: #66d9ef;
$monokai-magenta: #f92672;
$monokai-yellow: #e6db74;
$monokai-green: #a6e22e;
$monokai-purple: #ae81ff;
$monokai-comment: #5c6166;
$monokai-invisibles: #46484a;